<div id="header" [ngClass]="{'active': isHeaderBarActive}">
  <div class="custom-select" [ngClass]="{'open': showOptions}" (click)="toggleOptions()">
    <div class="custom-select-trigger">
      <span>{{ selectedLanguage }}</span>
      <div class="arrow"></div>
    </div>
    <div class="custom-options">
      <span
        class="custom-option"
        *ngFor="let lang of languages"
        (click)="changeLanguage($event, lang)"
      >{{ lang }}</span>
    </div>
  </div>

  <div class="header_buttons">
    <a href="#banner">{{ 'HEADER_SECTION_START' | translate }}</a>
    <a href="#about_me">{{ 'HEADER_SECTION_ABOUT_ME' | translate }}</a>
    <a href="#projects_container">{{ 'HEADER_SECTION_PROJECTS' | translate }}</a>
    <a href="#timeline_container">{{ 'HEADER_SECTION_EXPERIENCE' | translate }}</a>
    <a href="#contact">{{ 'HEADER_SECTION_CONTACT' | translate }}</a>
  </div>

  <a id="navPanelToggle" (click)="toggleMenu()" ><i class="fa fa-bars"></i></a>
</div>

<div id="shadow" [ngClass]="{'active': isHeaderOpened}"></div>

<div id="min-header" [ngClass]="{'active': isHeaderOpened}">
  <div class="header_buttons">
    <a href="#banner" (click)="toggleMenu()">{{ 'HEADER_SECTION_START' | translate }}</a>
    <a href="#about_me" (click)="toggleMenu()">{{ 'HEADER_SECTION_ABOUT_ME' | translate }}</a>
    <a href="#projects_container" (click)="toggleMenu()">{{ 'HEADER_SECTION_PROJECTS' | translate }}</a>
    <a href="#timeline_container" (click)="toggleMenu()">{{ 'HEADER_SECTION_EXPERIENCE' | translate }}</a>
    <a href="#contact" (click)="toggleMenu()">{{ 'HEADER_SECTION_CONTACT' | translate }}</a>
  </div>
</div>
