<div id="header" [ngClass]="{'active': isHeaderBarActive}">
  <div class="custom-select" [ngClass]="{'open': showOptions}" (click)="toggleOptions()">
    <div class="custom-select-trigger">
      <span>{{ selectedLanguage }}</span>
      <div class="arrow"></div>
    </div>
    <div class="custom-options">
      <span
        class="custom-option"
        *ngFor="let lang of languages"
        (click)="changeLanguage($event, lang)"
      >{{ lang }}</span>
    </div>
  </div>

  <div class="header_buttons" *ngIf="model">
    <a href="#banner">{{ model.start }}</a>
    <a href="#about_me">{{ model.aboutMe }}</a>
    <a href="#projects_section">{{ model.projects }}</a>
    <a href="#timeline_section">{{ model.experience }}</a>
    <a href="#contact">{{ model.contact }}</a>
  </div>

  <a id="navPanelToggle" (click)="toggleMenu()" ><i class="fa fa-bars"></i></a>
</div>

<div id="shadow" [ngClass]="{'active': isHeaderOpened}"></div>

<div id="min-header" *ngIf="model" [ngClass]="{'active': isHeaderOpened}">
  <div class="header_buttons">
    <a href="#banner" (click)="toggleMenu()">{{ model.start }}</a>
    <a href="#about_me" (click)="toggleMenu()">{{ model.aboutMe }}</a>
    <a href="#projects_section" (click)="toggleMenu()">{{ model.projects }}</a>
    <a href="#timeline_section" (click)="toggleMenu()">{{ model.experience }}</a>
    <a href="#contact" (click)="toggleMenu()">{{ model.contact }}</a>
  </div>
</div>
