#footer {
  position: relative;
  width: 100%;
  padding: 70px 0 35px 0;
  z-index: 3;
}

#footer .inner {
  width: 90%;
  margin: auto;
}


#footer_title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  height: auto;
  padding-bottom: 75px;
  font-size: 0;
}

#footer_title .title {
  font-size: var(--font-size-title);
  color: var(--color-default);
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 0 12px 0;
}

#footer_title .desc {
  color: #878A99;
  font-size: var(--font-size-normal);
  text-align: center;
  margin: 0 0 3px 0;
}




#footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #444F5E;
  padding: 0 15px;
  min-height: 70px;
}


#footer_bottom .info {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 65%;
  margin: 0;
  color: #878A99;
  font-size: var(--font-size-normal);
}

.linkers {
  position: relative;
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 5px;
}

  .social_link i {
    margin-right: 0;
  }


@media screen and (max-width: 1024px) {

  #footer {
    padding: 50px 0 35px 0;
  }

  #footer_title {
    width: 95%;
    height: auto;
    padding-bottom: 40px;
  }

  #footer_title .title {
    font-size: var(--font-size-normal);
  }

  #footer_title .desc {
    font-size: var(--font-size-smaller);
  }

  #footer_title .href {
    font-size: var(--font-size-smaller);
  }


  #footer_bottom {
    padding: 0 7px;
  }

  #footer_bottom .info {
    font-size: var(--font-size-smaller);
  }

}


@media screen and (max-width: 480px) {

  #footer_title {
    width: 95%;
    height: auto;
    padding-bottom: 40px;
  }

  #footer_title .title {
    font-size: var(--font-size-smaller);
    margin-bottom: 10px;
  }

  #footer_title .desc {
    font-size: var(--font-size-phone);
  }

  #footer_title .href {
    font-size: var(--font-size-phone);
  }


  #footer_bottom .info {
    font-size: var(--font-size-smaller);
  }

}


@media screen and (max-width: 400px) {

  #footer_bottom {
    flex-direction: column-reverse;
    height: auto;
    padding: 0 5px;
  }

  .linkers {
    margin: 10px 0 15px 0;
  }

  #footer_bottom .info {
    width: 100%;
    text-align: center;
  }

}
