img {
  position: absolute;
  right: 20px;
  top: 20px;
  max-width: 60px;
  pointer-events: none;
}

.custom-background {
  background: #fff;
  border-radius: 30px;
  padding: 3px;
}

.info {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 10px;
}

  .info h3 {
    margin: 0 7px 0 0;
    font-size: 20px;
    text-align: left;
  }

p {
  margin: 10px 0;
  font-size: 15px;
  color: var(--color-default);
}

.date p {
  margin: 0;
}


@media (max-width: 980px) {

  .info h3 {
    font-size: 16px;
  }

  p {
    margin: 8px 0;
    font-size: var(--font-size-smaller);
  }

  img {
    max-width: 40px;
  }

}

@media (max-width: 768px) {

  img {
    max-width: 50px;
  }

}


@media (max-width: 650px) {

  img {
    max-width: 50px;
  }

  .info h3 {
    font-size: var(--font-size-normal);
  }

  .info p {
    font-size: var(--font-size-smaller);
  }

  p {
    margin: 4px 0;
  }

}

@media (max-width: 480px) {

  .info p {
    font-size: var(--font-size-phone);
  }

}

@media (max-width: 360px) {

  img {
    right: 10px;
    top: 10px;
    max-width: 40px;
  }

}
