<div id="about_me">
  <div class="inner">
      <div class="container">
        <div class="education_container" appScrollAnimation="0.85">
          <h2 class="heading"><i class="fa-solid fa-graduation-cap"></i> {{ model?.title }} </h2>
          <app-education class="block" *ngFor="let university of model?.universities"
                         [university]="university">
          </app-education>
        </div>

        <div class="scholarship_container" appScrollAnimation="0.85">
          <app-scholarship class="block" *ngFor="let scholarship of model?.scholarships"
                         [scholarship]="scholarship">
          </app-scholarship>
      </div>
    </div>
  </div>
</div>
