<div id="about_me">
  <div class="inner">
    <div class="title_holder" id="title_holder" appScrollAnimation="0.9">
      <p>{{ 'ABOUT_ME_TITLE' | translate }}</p>
    </div>
    <div class="container" id="technologies" appScrollAnimation="0.9">
      <div class="left">
        <div class="desc">
          <div id="self_description">
            <p class="prefix">{{ 'ABOUT_ME_PROFILE_TITLE' | translate }}</p>
            <p class="bio">
              {{ 'ABOUT_ME_PROFILE_DESCRIPTION_1' | translate }}
              <br><br>
              {{ 'ABOUT_ME_PROFILE_DESCRIPTION_2' | translate }}
            </p>
          </div>

          <p class="desc_heading">{{ 'ABOUT_ME_EDUCATION_TITLE' | translate }}</p>
          <div class="education_container">
            <app-education class="block" *ngFor="let university of universities"
                           [university]="university">
            </app-education>
          </div>

          <p class="desc_heading">{{ 'ABOUT_ME_HOBBIES_TITLE' | translate }}</p>
          <div class="hobbies">
            <app-hobby class="hobby" *ngFor="let hobby of hobbies"
                       [hobby]="hobby">
            </app-hobby>
          </div>
        </div>
      </div>

      <div class="right">
        <h3>{{ 'ABOUT_ME_TECHNOLOGIES_TITLE' | translate }}</h3>
        <div class="technology_container">
          <app-technology class="technology" *ngFor="let technology of technologies"
                          [technology]="technology">
          </app-technology>
        </div>
      </div>
    </div>
  </div>
</div>
