<div class="project_img">
  <img
    src="{{ 'assets/images/project-' + (index + 1) + '-480p.webp' }}"
    srcset="{{ 'assets/images/project-' + (index + 1) + '-360p.webp 640w, ' +
               'assets/images/project-' + (index + 1) + '-480p.webp 854w, ' +
               'assets/images/project-' + (index + 1) + '-720p.webp 1280w' }}"
    sizes="(max-width: 480px) 360px, (max-width: 950px) 500px, (max-width: 1500px) 640px, 810px"
    width="1280"
    height="720"
    alt="Project image">
</div>
