#projects_section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 10px 30px 10px;
  scroll-margin-top: 90px;
  transition: background .4s ease-in;
}

#projects_section .inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3%;
  width: 1350px;
  margin: 0 auto;
  padding: 30px 0 110px 0;
}

#projects_section .heading {
  margin: 0 auto 30px auto;
}

.title {
  margin-bottom: 35px;
  font-size: 28px;
  color: var(--color-white);
}

.project_container {
  display: flex;
}

#slider.is-hidden,
#projects_section .heading.is-hidden,
.inner.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.inner.slideAnimation > .details_container {
  animation: slideAnimation 1s ease-in-out;
}

.inner.slideAnimation > .project_images {
  animation: slideInFromRight 1s ease-in-out;
}

#slider.slideAnimation {
  animation: fadeIn 1s ease-in-out;
}

#projects_section .heading.slideAnimation {
  animation: fadeIn 1s ease-in-out;
}



.details_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 27%;
  height: 460px;
}

.project_block {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, transform 0.8s ease;
}

.project_block.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.project_block .title {
  font-size: 16px;
  margin: 0 0 7px 0;
}


.project_images {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
  height: 460px;
}

.image_block {
  position: absolute;
  max-width: 810px;
  width: auto;
  height: 460px;
  background: rgba(57, 61, 61, 1);
  cursor: pointer;
  border-radius: 20px;
  opacity: 1;
  visibility: hidden;
  transition: transform .4s ease, opacity .2s ease;
}

.image_block.future {
  transform: translatex(25%) scale(.8);
  opacity: 0;
  z-index: 0;
  visibility: visible;
}

.image_block.active {
  transform: translatex(0) scale(1);
  z-index: 2;
  visibility: visible;
}

.image_block.next {
  transform: translatex(25%) scale(.8);
  opacity: .4;
  z-index: 1;
  visibility: visible;
}


#slider {
  width: 40%;
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 80px;
  gap: 15px;
}

.slide {
  width: auto;
  height: 10px;
  background: rgba(87, 91, 91, 0.6);
  border-radius: 10px;
  flex: 1;
  cursor: pointer;
  transition: background 0.5s;
}

#slider .slide:hover {
  background: #0083e1;
}

#slider .slide.active {
  background: #066fbb;
}





.animated_arrows {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  right: -60px;
  margin: auto;
  width: 50px;
  height: 36px;
  cursor: pointer;
}

.animated_arrows .arrow {
  position: absolute;
  font-size: 30px;
  color: #EBFBFF;
  opacity: 0;
  animation: arrowFadeOut 2s ease-in-out infinite;
}

.animated_arrows .arrow:nth-child(1) {
  margin-right: 5px;
  animation-delay: 1s;
}


@keyframes arrowFadeOut {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}



@media screen and (max-width: 1500px) {

  #projects_section .inner {
    width: 95%;
    padding: 20px 0 50px 0;
    flex-direction: column-reverse;
  }

  .details_container {
    width: 70%;
    min-height: 320px;
    height: auto;
    margin-top: 40px;
    max-width: 900px;
  }

  .project_images {
    width: 100%;
    height: 420px;
    justify-content: center;
  }

  .image_block {
    max-width: 700px;
    height: 380px;
  }

  .image_block.next {
    transform: translatex(25%) scale(.8);
  }

  .image_block.future {
    opacity: 0.4;
    transform: translatex(-25%) scale(.8);
  }

  .animated_arrows {
    display: none;
  }

  .animated_arrows {
    right: 10px;
  }

}


@media screen and (max-width: 1180px) {

  #projects_section .inner {
    width: 95%;
  }

  .details_container {
    width: 85%;
    min-height: 320px;
    height: auto;
    margin-top: 70px;
    max-width: 900px;
  }

  .project_images {
    height: 380px;
  }

  #slider {
    width: 80%;
    padding-bottom: 50px;
  }

}



@media screen and (max-width: 950px) {

  .details_container {
    width: 90%;
    height: auto;
    min-height: auto;
    margin-top: 40px;
  }

  .project_block {
    position: relative;
    height: 0;
    width: 0;
    margin-top: 90px;
  }

  .project_block.active {
    height: auto;
    width: auto;
  }

  .project_images {
    width: 100%;
    height: 280px;
  }

  .image_block {
    max-width: 75%;
    height: 280px;
  }

  .image_block.next {
    transform: translatex(25%) scale(.8);
  }

  .image_block.future {
    opacity: 0.4;
    transform: translatex(-25%) scale(.8);
  }

  .animated_arrows {
    right: 30px;
  }

}

@media screen and (max-width: 840px) {

  .project_block {
    margin-top: 50px;
  }

}

@media screen and (max-width: 780px) {

  #projects_section {
    padding-top: 30px;
    scroll-margin-top: 30px;
  }

  #projects_section .inner {
    padding-top: 0;
  }

  .project_block {
    margin-top: 20px;
  }

  .image_block {
    max-height: 256px;
  }

  .title {
    font-size: 20px;
    margin: 20px 0;
  }

}


@media screen and (max-width: 680px) {

  .project_images {
    width: 90%;
    height: 280px;
  }

  .image_block {
    max-width: none;
    max-height: 256px;
    height: auto;
  }

  .image_block.future {
    transform: translateX(-17%) scale(0.8);
  }

  .image_block.next {
    transform: translateX(17%) scale(0.8);
  }

  #slider {
    width: 96%;
    gap: 7px;
  }

  .slide {
    height: 7px;
  }

}


@media screen and (max-width: 550px) {

  .project_images {
    height: 260px;
  }

  .project_block {
    margin-top: 0;
  }

}


@media screen and (max-width: 480px) {

  .project_images {
    height: 200px;
  }

}

@media screen and (max-width: 380px) {

  .project_images {
    height: 180px;
  }

}

@media screen and (max-width: 280px) {

  .project_images {
    height: 140px;
  }

}
