<div id="projects_container">
  <h2 class="heading" appScrollAnimation="0.9"><i class="fa-solid fa-diagram-project"></i> {{ model?.title }} </h2>
  <div class="inner_section" appScrollAnimation="0.9">

    <div class="animated_arrows" (click)="nextSlide()">
      <i class="arrow fas fa-chevron-right"></i>
      <i class="arrow fas fa-chevron-right"></i>
    </div>

    <div class="details_container">
      <app-project-item class="project_block" [ngClass]="classList(i)" *ngFor="let project of model?.projects; let i = index"
                        [project]="project" [model]="model">
      </app-project-item>
    </div>

    <div class="project_images">
      <app-project-image class="image_block" [ngClass]="classList(i)" *ngFor="let image of model?.projectImages; let i = index"
                         [url]="image"
                         [index]="i"
                         (click)="specificSlide(i)">
      </app-project-image>
    </div>

  </div>

  <div id="slider" appScrollAnimation="0.95">
    <div class="slide" *ngFor="let i of [0, 1, 2]" (click)="specificSlide(i)" [ngClass]="{'active': activeIndex == i}"></div>
  </div>
</div>
