<div id="contact">
  <div class="inner">
    <div id="box_1" class="box" appScrollAnimation="0.95">
      <h2>{{ 'CONTACT_TITLE' | translate }}</h2>
      <p>{{ 'CONTACT_DESCRIPTION' | translate }}</p>
    </div>
    <div id="box_2" class="box"></div>
    <div id="box_3" class="box"></div>
    <div id="frame" appScrollAnimation="1">
      <h2>{{ 'CONTACT_FRAME_TITLE' | translate }}</h2>
      <p class="desc">{{ 'CONTACT_FRAME_DESCRIPTION' | translate }}</p>
      <div class="button_contact"><i class="fa-regular fa-envelope"></i> bartosz.malec&#64;onet.pl</div>
    </div>
  </div>
</div>
