<div id="contact">

  <div class="inner">
    <div id="box_1" class="box" appScrollAnimation="0.95">
      <div class="body">
        <h2>{{ 'CONTACT_TITLE' | translate }}</h2>
        <p>{{ 'CONTACT_DESCRIPTION' | translate }}</p>

        <a href="mailto:bartosz.malec@onet.pl" target="_blank" class="button_contact">{{ 'CONTACT_EMAIL_ME' | translate }}</a>
      </div>
    </div>
    <div id="box_2" class="box"></div>
    <div id="frame" appScrollAnimation="1">
      <h2>{{ 'CONTACT_FRAME_TITLE' | translate }}</h2>
      <p class="quote">{{ 'CONTACT_FRAME_QUOTE' | translate }}<p>
      <p class="desc">{{ 'CONTACT_FRAME_DESCRIPTION_1' | translate }}<b>{{ 'CONTACT_FRAME_DESCRIPTION_2' | translate }}</b>{{ 'CONTACT_FRAME_DESCRIPTION_3' | translate }}</p>
      <div class="button_contact"><i class="fa-solid fa-phone"></i>+48 669 003 975</div>
    </div>
  </div>

  <div id="box_3" class="box"></div>

</div>
