#contact {
  position: relative;
  width: 100%;
  height: 500px;
  background:
    radial-gradient(ellipse 60% 40% at 35% 60%,
    rgba(40, 20, 50, 0.5) 0%,    /* Ciemny fiolet */
    rgba(25, 10, 30, 0.5) 30%,    /* Śliwka */
    rgba(15, 5, 20, 0.5) 60%,     /* Ciemna oberżyna */
    transparent 100%),

    linear-gradient(180deg,
    #0A020F 0%,
    #050108 45%,
    #0C0512 100%);
}

#contact .inner {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}

#contact .left {
  position: relative;
  width: 50%;
  height: 100%;
}

#contact .right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#contact .button_contact {
  padding: 12px 0;
  border-radius: 15px;
  background: #46A0C7;
  cursor: pointer;
  font-size: var(--font-size-normal);
  border: none;
  color: #fff;
  transition: background 0.3s;
}

#contact .button_contact:hover {
  background: #3E8AAD;
}

.box {
  position: absolute;
}

#box_1 {
  top: 0;
  left: 5%;
  width: 80%;
  height: 325px;
  background: #0c1c2a66;
  border-bottom-left-radius: 30px;
  padding: 30px 20px;
  text-align: center;
  font-size: 16px;
  z-index: 3;
}

#box_1.is-hidden {
  visibility: hidden;
  opacity: 0;
}

#box_1.slideAnimation {
  animation: 1s slideIn ease-in-out;
}

#box_1 .body {
  position: relative;
  width: 500px;
  height: 100%;
  left: 250px;
  text-align: left;
  color: #A3A4A6;
}

#box_1 h2 {
  width: 100%;
  font-size: 30px;
  color: var(--color-gold);
}

#box_1 .button_contact {
  position: absolute;
  text-align: center;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
}

#box_2 {
  bottom: 0;
  right: -50px;
  width: 300px;
  height: 180px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #1D1E21;
  z-index: 2;
}

#box_3 {
  bottom: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: #1E1F24;
  border-top-right-radius: 30px;
  z-index: 1;
}



#frame {
  position: absolute;
  top: 75px;
  right: 100px;
  width: 400px;
  height: 500px;
  background: transparent;
  box-shadow: 0 0 25px 0 #3C3D42;
  border-radius: 20px;
  padding: 45px 25px 15px 25px;
  text-align: center;
  z-index: 5;
}

#frame.slideAnimation {
  animation: 1s slideFromRight ease-in-out;
}

#frame .quote {
  color: var(--color-gold);
  font-weight: bold;
  font-style: italic;
  margin: 30px 0;
}

#frame b {
  color: var(--color-gold);
}

#frame h2 {
  font-size: 18px;
  margin: 10px 0 0 0;
  width: 100%;
  text-align: center;
}

#frame .desc {
  margin-bottom: 30px;
  color: #A3A4A6;
}

#frame .button_contact {
  position: relative;
  width: 80%;
  max-width: 220px;
  margin: auto;
  cursor: default;
  padding: 10px 15px;
  background: #A18A4D;
}

#frame .button_contact i {
  margin-right: 5px;
}

#frame .button_contact:hover {
  background: #A18A4D;
}




@media screen and (max-width: 1500px) {

  #contact .inner {
    width: 90%;
  }

  #box_1 .body {
    width: 50%;
    left: 10%;
  }

}


@media screen and (max-width: 1280px) {

  #contact .inner {
    width: 95%;
  }

  #box_1 {
    width: 90%;
    font-size: var(--font-size-normal);
  }

  #box_1 .body {
    width: 46%;
    left: 8%;
  }

  #box_1 h2 {
    font-size: 24px;
  }

  #box_2 {
    width: 150px;
    height: 150px;
  }

  #frame {
    right: 25px;
  }

}


@media screen and (max-width: 1024px) {

  #contact {
    height: 450px;
  }

  #box_1 {
    height: 300px;
  }

  #box_1 .body {
    width: 50%;
    left: 5%;
  }

  #box_1 .button_contact {
    width: 220px;
  }

  #box_2 {
    width: 100px;
    height: 100px;
  }

  #box_3 {
    width: 150px;
    height: 75px;
  }

  #frame {
    right: 15px;
    width: 300px;
    height: auto;
    padding: 15px 20px 45px 20px;
  }

  #frame h2 {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 768px) {

  #contact {
    height: auto;
  }

  #contact .inner {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #box_1 {
    position: relative;
    width: 90%;
    top: 0;
    left: auto;
    height: auto;
    text-align: center;
    border-bottom-right-radius: 30px;
  }

  #box_1 .body {
    width: 100%;
    height: auto;
    left: 0;
    text-align: center;
  }

  #box_1 .button_contact {
    position: relative;
    bottom: auto;
    width: auto;
    padding: 10px 30px;
  }

  #box_1 p {
    margin-bottom: 30px;
  }

  #box_2 {
    width: 120px;
    height: 120px;
    right: 0;
    border-radius: 0 0 0 15px;
  }

  #box_3 {
    display: none;
  }

  #frame {
    position: relative;
    height: auto;
    top: 40px;
    right: auto;
  }

}


@media screen and (max-width: 580px) {

  #box_1 h2 {
    font-size: 18px;
  }

  #box_1 p {
    font-size: var(--font-size-smaller);
  }

  #frame {
    width: 90%;
    max-width: 300px;
  }

  #frame p {
    font-size: var(--font-size-smaller);
  }

}

@media screen and (max-width: 350px) {

  #box_1 {
    padding: 15px;
  }

  #box_1 h2 {
    font-size: 16px;
  }

  #box_1 .body {
    padding-bottom: 40px;
  }

  #box_1 p, #frame p {
    font-size: var(--font-size-phone);
  }

  #box_1 .button_contact, #frame .button_contact {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    padding: 8px 4px;
  }

  #frame {
    padding: 15px 15px 50px 15px;
  }

  #frame h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  #frame .quote {
    margin: 20px 0;
  }

  #frame .button_contact {
    padding: 8px 2px;
  }

}
