<div id="banner">
  <div class="inner">
    <div id="about">
      <div class="line">
        <span class="pretitle">{{ 'BANNER_WELCOME_MESSAGE' | translate }}</span>
        <div class="straight_line"></div>
      </div>

      <h1>{{ 'BANNER_FULL_NAME' | translate }}</h1>
      <p class="subtitle">{{ 'BANNER_PROFESSION' | translate }}</p>

      <div id="linkers">
        <a href="https://www.linkedin.com/in/b-malec/" target="_blank" class="social_link"><i class="fa-brands fa-linkedin"></i></a>
        <div class="dot"></div>
        <a href="https://github.com/Vertonowsky" target="_blank" class="social_link"><i class="fa-brands fa-github"></i></a>
        <div class="dot"></div>
        <a href="mailto:bartosz.malec@onet.pl" target="_blank" class="social_link"><i class="fa-solid fa-envelope"></i></a>
      </div>

    </div>

    <div id="banner_image">
      <img alt="Profile picture" src="assets/images/profile-picture.png">
    </div>
  </div>

  <div id="right_styling">
    <div id="square_list">
      <div class="right_one"></div>
      <div class="right_two"></div>
      <div class="right_one"></div>
    </div>
  </div>
</div>
