<div id="banner">
  <div class="inner">
    <div id="about">
      <h1>{{ model?.fullName }}</h1>
      <div class="straight_line"></div>
      <p class="profession">{{ model?.profession }}</p>
      <p class="description">{{ model?.description }}</p>

      <div class="linkers">
        <a href="https://www.linkedin.com/in/b-malec/" target="_blank" class="social_link"><i class="fa-brands fa-linkedin-in"></i> linkedin </a>
        <div class="dot"></div>
        <a href="https://github.com/Vertonowsky" target="_blank" class="social_link"><i class="fa-brands fa-github"></i> github </a>
        <div class="dot"></div>
        <a href="mailto:bartosz.malec@onet.pl" target="_blank" class="social_link"><i class="fa-regular fa-envelope"></i> email </a>
      </div>

    </div>

    <div id="banner_image">
      <picture>
        <!-- Na wąskich ekranach wariant 1032w jest celowo pominięty. Slot ma tam
             340 px, więc przy DPR 3 przeglądarka szukałaby 1020 px i wybierała
             1032w (269,9 kB). Zatrzymanie się na 720w daje gęstość 2,1x przy
             153,4 kB. Powyżej 2x przyrost ostrości jest niedostrzegalny.
             UWAGA: warunek media musi pozostać zgodny z preloadem w index.html,
             inaczej przeglądarka pobierze dwa różne warianty. -->
        <source media="(max-width: 768px)"
                srcset="assets/images/profile-picture-360w.webp 360w,
                        assets/images/profile-picture-600w.webp 600w,
                        assets/images/profile-picture-720w.webp 720w"
                sizes="340px">
        <img alt="Profile picture"
             fetchpriority="high"
             width="600"
             height="698"
             src="assets/images/profile-picture-600w.webp"
             srcset="assets/images/profile-picture-360w.webp 360w,
                     assets/images/profile-picture-600w.webp 600w,
                     assets/images/profile-picture-720w.webp 720w,
                     assets/images/profile-picture-1032w.webp 1032w"
             sizes="(max-width: 1280px) 500px, 600px">
      </picture>
    </div>
  </div>

  <div id="right_styling">
    <div id="square_list">
      <div class="right_one"></div>
      <div class="right_two"></div>
      <div class="right_one"></div>
    </div>
  </div>
</div>
