<div id="banner">
  <div class="inner">
    <div id="about">
      <h1>{{ model?.fullName }}</h1>
      <div class="straight_line"></div>
      <p class="profession">{{ model?.profession }}</p>
      <p class="description">{{ model?.description }}</p>

      <div class="linkers">
        <a href="https://www.linkedin.com/in/b-malec/" target="_blank" class="social_link"><i class="fa-brands fa-linkedin-in"></i> linkedin </a>
        <div class="dot"></div>
        <a href="https://github.com/Vertonowsky" target="_blank" class="social_link"><i class="fa-brands fa-github"></i> github </a>
        <div class="dot"></div>
        <a href="mailto:bartosz.malec@onet.pl" target="_blank" class="social_link"><i class="fa-regular fa-envelope"></i> email </a>
      </div>

    </div>

    <div id="banner_image">
      <img alt="Profile picture"
           fetchpriority="high"
           width="600"
           height="698"
           src="assets/images/profile-picture-600w.png"
           srcset="assets/images/profile-picture-360w.png 360w,
                   assets/images/profile-picture-600w.png 600w,
                   assets/images/profile-picture-720w.png 720w,
                   assets/images/profile-picture-1032w.png 1032w"
           sizes="(max-width: 768px) 340px, (max-width: 1280px) 500px, 600px">
    </div>
  </div>

  <div id="right_styling">
    <div id="square_list">
      <div class="right_one"></div>
      <div class="right_two"></div>
      <div class="right_one"></div>
    </div>
  </div>
</div>
