img {
  position: relative;
  z-index: 1;
  max-width: 35%;
  height: auto;
  pointer-events: none;
  margin-top: auto;
  margin-bottom: auto;
}

p {
  position: relative;
  z-index: 1;
  margin-top: auto;
  margin-bottom: 4px;
  font-size: 14px;
}

@media (max-width: 768px) {

  p {
    font-size: 14px;
  }

}

@media (max-width: 650px) {

  p {
    font-size: 14px;
  }

}

@media (max-width: 480px) {

  img {
    max-width: 25px;
  }

  p {
    font-size: var(--font-size-phone);
  }

}

@media (max-width: 420px) {

  img {
    max-width: 35px;
  }

}

@media (max-width: 340px) {

  img {
    max-width: 45px;
  }

}
