:root {
  --color-blue: #3587D8;
  --color-title: #595959;

  --color-default: #8e949a;
  --color-white: #8e949a;
  --color-gray: #808287;
  --color-gold: #B2A171;

  --gradient-light-blue: linear-gradient(90deg,rgba(3, 173, 229, 1) 0%, rgba(92, 163, 255, 1) 100%);
  --gradient-straight-line: linear-gradient(90deg, #00B9FF 0%, #8254F5 100%);

  --font-size-big: 22px;
  --font-size-title: 18px;
  --font-size-normal: 15px;
  --font-size-smaller: 14px;
  --font-size-phone: 13px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: var(--color-default);
}

*, *:after, *:before {
  line-height: 1.2;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

b {
  color: var(--color-gray);
  font-weight: normal;
}


body::-webkit-scrollbar {
  background: #34363D;
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background: #6D7180;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #7A7E8F;
}

body::-webkit-scrollbar-corner {
  background: transparent;
}


.social_link {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background: rgba(23 34 48 / 0.2);
  border: 2px solid #1c2f43;
  border-radius: 10px;
  color: #F4F9FF;
  padding: 8px 12px;
  transform: none;
  top: 0;
  transition: color 0.3s, background 0.4s, top 0.3s;
}

.social_link i {
  margin-right: 10px;
  font-size: 20px;
}

.social_link:hover {
  top: -3px;
  background: rgba(95 132 179 / 0.17);
}

.heading {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  color: #E6E6E6;
  font-size: 24px;
}

  .heading i {
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #064569;
    color: #53EAFD;
    font-size: 20px;
  }

.background_light_blue {
  background: var(--gradient-light-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

  .technology_item {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #3a3e4b;
    font-size: var(--font-size-normal);
    border-radius: 15px;
  }

@media (max-width: 1280px) {

  .heading {
    font-size: 22px;
  }

}

@media (max-width: 580px) {

  .technology_item {
    padding: 4px 6px;
  }

}

@media (max-width: 480px) {

  .heading {
    width: 90%;
    font-size: 19px;
  }

}

@keyframes slideIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideFromRight {
  0% { transform: translateX(30%); opacity: 0; }
  70% { transform: translateX(-15%)}
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideFromLeftSlightly {
  from { transform: translateX(-50%); opacity: 0; }
  to { transform: translateX(0%); opacity: 1; }
}

@keyframes slideFromRightSlightly {
  from { transform: translateX(50%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideFromBottom {
  0% { transform: translateY(100px); opacity: 0; }
  70% { transform: translateY(-30px)}
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes fadeInOpacityOnly {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes bounce-1 {
  0% {
    opacity: 0;
    transform: scale(.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }

  65% {
    opacity: 1;
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  65% {
    opacity: 1;
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes pulsing {
  0% {
    transform: scale(1);
    opacity: .7;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
