img {
  position: relative;
  z-index: 1;
  max-width: 35%;
  max-height: 60%;
  height: auto;
  pointer-events: none;
  margin-top: auto;
  margin-bottom: auto;
}

p {
  position: relative;
  z-index: 1;
  margin-top: auto;
  margin-bottom: 4px;
  font-size: 14px;
}

@media (max-width: 980px) {

  img {
    max-height: 45px;
  }

}

@media (max-width: 768px) {

  p {
    font-size: 14px;
  }

}

@media (max-width: 650px) {

  p {
    font-size: 14px;
  }

}

@media (max-width: 520px) {

  img {
    max-width: 30%;
  }

  p {
    font-size: var(--font-size-phone);
  }

}

@media (max-width: 420px) {

  img {
    max-width: 25%;
  }

}

@media (max-width: 280px) {

  img {
    max-width: 20%;
  }

  p {
    font-size: 11px;
  }

}

